# Chapter 1, Python Basics - Part 1

### Why use python?

Python is a pretty versatile programming language and can be used in a variety of applications. The biggest usp of Python is the fact that it's open source and has a massive community coming with new libraries and functions every other day. In fact for Data science this is one of the most popular tools that is out there currently.

### Python as an interface

Python follows a very english like syntax and most of the statements or "code" can be understood with minimal effort, for instance printing something to the console uses the keyword or command print.

In [323]:
print ("Delhi")

Delhi

When you use the print statement with something non-numeric quotes are expected. For instance typing the word Delhi without quotes would give an error.

In [324]:
print (Delhi)

NameError: name 'Delhi' is not defined

And that is because the word Delhi is a variable of type String or str in python. We will get to variable types later, for now, let's just work with the fact that all names or non numeric entities have to be enclosed in quotes (single or double) to be printed onto the console.

In [ ]:
print ("The year now is 2018")

You can also print numbers and they don't have to be enclosed in quotes. Enclosing numbers in quotes are going to convert them to string types and they will not remain a number anymore so please be careful about that.

In [ ]:
print (3)

In [ ]:
print ("3")

As you can see, both statements output 3. If you type the keyword type before the brackets you will see the difference.

In [ ]:
print (type(3))

In [ ]:
print (type("3"))

int stands for variable type integer. str as previously mentioned stands for string type.

Doing mathematical calculations in python is simple enough

In [ ]:
print (34+67) #Addition

In [ ]:
print (34*67) #Multiplcation

In [ ]:
print (6/4) #Division

In [ ]:
print (6%4) #Modulo - Remainder of 6 divided by 4 is 2

In [ ]:
print (6//4) #floor division, quotient of 6 divided by 4 is 1

In [ ]:
print (3-4)

In [ ]:
print (type(6/4))

Float is similar to int. Ints are variable types without decimals. Floats include decimals.

### Comments

Comments are important to make sure that you and others can understand what your code is about.

To add comments to your Python script, you can use the # tag. These comments are not run as Python 
code, so they will not influence your result.

In [ ]:
#print ("The year is 2018")
print ("The capital of India is New Delhi")

In [ ]:
#As you can see only the second line without the # operator has been executed.

In [ ]:
#Division
print (10/8)
#print (8/9)

In [ ]:
#only the first 10/8 division has been executed

### Other mathematical operations

Exponential calculations are done using ** operator. For instance 3**2 would give 9

In [ ]:
print (4**3)

In [ ]:
print ((4**3)//3)

## All Assignment answers provided in the answer notebook

### Assignment 1

Convert 32 degree celsius to Fahrenheit.

## Variables

In Python, a variable allows you to refer to a value with a name. To create a variable use =, like this example:

In [ ]:
x = 10

In [ ]:
print (x)

In Python, "=" doesn't imply equality. It just assigns a varaible with a value, numeric or non-numeric. Equality is defined by the operator "=="

### Assignment 2

Create a variable called temperature with the value 32. What is the type of this variable? Print it out.

### Assignment 3

Create a second variable called temp_fahrenheit. Can you assign the fahrenheit equivalent of 32 degrees in celsius to this variable?

### Other variable types

Now that we know numbers can be of two types in python, ints and floats. Ints are numbers without decimals and floats are numbers with decimals. The difference is as simple as that. We also have the variable type str or string which is all variable types which are non numeric. The last kind of variable type is called boolean or bool. True and False are the only 2 variables possible in this variable type. Capitalization is key. True is a variable of type bool however true is a variable of type str. Also the variable True always corresponds to 1, while False corresponds to 0

### Assignment 4

Create a variable called correct_temperature and initialize it to type bool with a value True

In an earlier section we saw that the number 3 if enclosed in quotes ceases to be a number. So if we add the string "3" to a string "6" we will not get 9? What do you think we will get? Let's try that

In [ ]:
a = "3"
b = "6"
print (a+b)

The strings 3 and 6 have been joined together to form a new string 36, which is still a str type and not int

In [ ]:
print (type(a+b))

To make the numbers behave like numbers, we have to assign them to variables without quotes

In [ ]:
a = 3
b = 6
print (a+b)

### String operations

Using the "+" operator we can add or join 2 strings together. We can even incorporate spaces in between to make the strigs more comprehendable and easier to read. 

For example 2 strings: "I live in India." and "The year is 2018." can be joined together like below

In [ ]:
print("I live in India."+"The year is 2018.")

Adding a space either after the first string or before the 2nd string would give this

In [ ]:
print("I live in India. "+"The year is 2018.")

In [ ]:
print ("3"+" multiplied by 2 "+"is 6")

Joining strings like above is something that is termed as concatenation. Consider it similar to adding (or joining) two string types together.

What happens if we combine string types with other variable types and try to concatenate them?

In [ ]:
print ("3 "+"multiplied by 2 is "+6)

However this one threw an error because the last term 6 has not been converted to a str type and is still an int. Strings and ints,floats,bools cannot be concatenated together.

To convert a int to type str we have to just add the keyword str before the int. Like below

In [ ]:
print ("3 "+"multiplied by 2 is "+str(6))

Similarly, to convert a string which is a number in string format to a numeric type we have to add the keyword float or int before the string. Like below.

In [ ]:
a = "3"

In [ ]:
print (type(a))

In [ ]:
a = int("3") #We are reassigning a to the int of the string a

In [ ]:
print (type(a))

In [ ]:
b = "3.14"
print (type(b))

In [ ]:
b = float(b)
print (type(b)) #We are reassigning b to the float of the string b

Now what happens in the follwing cases?

### Assignment 5

1) If we assign a variable "3.14" to int instead of type float?

2) If we try to convert the string "Delhi" to int or float?

3) If we try to convert the numeric "44000" to float instead of int?

4) If we convert the string "True" to bool?

5) If we convert the bool False to int?

### Remember True is 1 and False is 0..

### Assignment 6

1) What happens if we add two bools? True and False

2) Multiply 2 bools

3) print the result of False - True.  Will the result be 1 or -1?

# Chapter 1, Python Basics - Part 2

### Lists

Lists are compound data types, which can hold variables of multiple types.

Lists are initialized with square brackets. And your variables can be put inside the square brackets, seperated by commas

In [ ]:
#Let's define an empty list first called a

In [ ]:
a=[]

In [ ]:
#Let's fill that list with three numbers 3,6 and 19

In [ ]:
a=[3,6,19]

In [ ]:
print (type(a))

In [ ]:
#Can we add other types of variables to this list? Let's try that

In [ ]:
a = [3,6,19,True,False,"Delhi", "3", "Bangalore", 3.14]

Now list a holds data types of type (int), type str, type bool and type floats. In fact, we can print the length or the number of elements a list holds using a simple len keyword before the list very similar to how your define a type before your variable.

In [ ]:
len(a)

In [ ]:
#the list a holds 9 elements.

### Assignment 7

Let's define a few variables with numerics for instance population of cities

Delhi = 1000
Mumbai = 2000
Bangalore = 2500
Chennai = 1800
Kolkata = 3000
Pune = 2800

Add the populations only to a list called pops using the variables

### Assignment 8

Now add the names of the cities to your list pops as strings. So your final list should look something like this. 

pops = ["Delhi", population of Delhi, "Mumbai", population of mumbai.....] and so on

How many elements does pops contain?

### Assignment 9

Make 5 lists called delhi, mumbai, pune, kolkata, chennai and bangalore. Each list should contain 2 elements, the first element is the string of the city name and the second element is the population. 

Now create a new list called country and add these 6 small lists to the list country. Now your list country should basically a list of lists!

In [ ]:
#Assignment 9 has been solved here!

In [ ]:
delhi = ["Delhi",1000]
mumbai = ["Mumbai", 2000]
bangalore=["Bangalore", 2500]
kolkata=["Kolkata",3000]
pune = ["Pune",2800]
chennai=["Chennai", 1800]
country=[delhi,mumbai,bangalore,kolkata,pune,chennai]
print (country)

In [ ]:
#What do you think the length of the outer list country will be? 6 or 12?

In [ ]:
len(country)

In [ ]:
#because country consists of 6 lists which each contain 2 elements each. Hence length of country is 6.

### Flat lists

Flat lists are simple lists. With no lists or compund data types inside it. So the flat list of country will contain 12 elements and look somehting like this!

In [ ]:
country_flat = ['Delhi', 1000, 'Mumbai', 2000, 'Bangalore', 2500, 'Kolkata', 3000, 'Pune', 2800, 'Chennai', 1800]

In [ ]:
print (country_flat)

In [ ]:
print (len(country_flat))

### List operations (Selecting elements)

In python counting (also referred to as subsetting or indexing) starts from 0 and not 1 like we do normally..
Which means if a list has 4 elements, the count will be 0,1,2,3 and not 1,2,3,4. Hence the third element will be referred to as 2 and not 3. Selecting an element or subsetting an element from a list is simple enough. 

list[element's count]

For instance in country_flat if I wanted to select the element or item Mumbai which we see is the third element, we do this...

country_flat[2]

In [ ]:
print (country_flat[2])

Population of Kolkata which is 3000 is the 8th element would be selected by country_flat[7]

In [ ]:
country_flat[7]

#### Assigning a negative number to the count index starts selecting slements from the end of the list. However list[-0] doesn't make sense. Hence list[-1] would select the last element, list[-2] would select the last but one element, and so on....

In [ ]:
country_flat[-1]

In [ ]:
country_flat[-3]

In [ ]:
country_flat[-4]

### Assignment 10

Print out the population of Bangalore from country_flat

### Assignment 11

Can you calculate the sum of the population of Mumbai and Bangalore and assign it to the variable mum_ben?

### List operations  continued(Selecting multiple elements)

In [ ]:
print (country_flat)

If we want to select "Chennai" we do a country_flat[-2] as shown earlier. However what if we wanted both "Chennai" and its population?

In [ ]:
country_flat[-2]

In [ ]:
country_flat[-1]

In [ ]:
country_flat[-2:]

What country_flat[-2:] essentially does with the ":" operator is this list[start index: end index]. Start index is the list element you are interested in starting your multiple element selection from, end list - 1 is the index you want to end your multiple element selection. End index is never included in multiple elements. start index is.

A few more exmaples should make this clear.

In [ ]:
country_flat[1:5] #Delhi is omitted as it is the zeroth element and out start index is 1. 5th element technically in
#the list is 2000, however since the end index is not included the list indexing stops at Bangalore.

In [ ]:
country_flat[0:3]

In [ ]:
country_flat[:3] #If no start index is specified before the colon, it essentially means select all before colon.

In [ ]:
country_flat[3:] #Likewise

### Do you remember our initial list country?

In [ ]:
country #Which was a list of lists?

### What if we want to select the first element of the third list in the country list?

In [ ]:
country[2] #selects the third list in the country list

In [ ]:
country[2][0] #selects the first element from that third list, hence 0

### Assignment 12

Can you select the population of Pune only from the list country?

### List operations continued (Adding elements)

What now if we want to add a new sub-list called ["Hyderabad", 3400] to this list?

In [ ]:
Hyderabad = ["Hyderabad", 3400]

In [ ]:
country

Can we just add Hyderabad to country?

Looks like we can.

In [ ]:
print (country+Hyderabad)

### There is a problem however, Hyderabad is not a sub-list anymore in the country list.

## Enter append!!!

In [ ]:
country.append(Hyderabad)

In [ ]:
print (country)

### This is exactly what we wanted. Let's understand the difference between add and append

Append took the sub-list as a whole. Hyderabad was taken as a whole and the entire list was considered as one entity. In add, the list's individual elements were considered and then added to the list.

Let's take one more example of append.

In [ ]:
India = [] #Declaring an empty list called India

In [ ]:
State_1 = "Karnataka"
State_2 = "West Bengal"
State_3 = "Kerala"
State_4 = "Tamil Nadu"
State_5 = ["Maharashtra", 10000]
State_6 = ["True", True, False, 1000]

In [ ]:
India.append(State_1)
India.append(State_2)
India.append(State_3)
India.append(State_4)
India.append(State_5)
India.append(State_6)

In [ ]:
India

In [ ]:
new_India=[]
new_India.add(State_1)
new_India.add(State_2)
new_India.add(State_3)
new_India.add(State_4)
new_India.add(State_5)
new_India.add(State_6)

#### The error is thrown because he message is clear. list has no method add because it is ordered. You can insert but you want to append. So the correct way is: append

### List operations continued (Replacing elements)

In [ ]:
India

### Can you change the 3rd element Kerala to Gujarat?

In [ ]:
print (India)

In [ ]:
India[2]

In [ ]:
India[2]="Gujarat"

In [ ]:
print (India)

### It is as simple as that. Subsetting the element you want to replace and assigning it to the variable you want to change it to. That's it

### List operations continued (Deleting elements)

Remove Gujarat from India

In [ ]:
India

In [ ]:
del(India[2])

In [ ]:
India #Done! del(list[element_index_you_wish_to_delete])

Can you delete the population of Maharashtra?

In [ ]:
del(India[3][1])

In [ ]:
India

### List operations continued (Inserting elements)

The syntax is list.insert(index, element)

If we want to insert a new state called "J&K" at index 4 we can do this

In [ ]:
India.insert(4,"J&K")

In [ ]:
India

### Assignment 12

Add the population of Maharashtra which was 10000 back to Maharashtra sub list

Solving Assignment 12 here:

In [ ]:
India[3] = ["Maharashtra", 10000]

In [ ]:
India

### Extending lists

The following syntax will make things clear

In [ ]:
x = [1, 2, 3]
x.append([4, 5])
print (x)

In [ ]:
x = [1, 2, 3]
x.extend([4, 5])
print (x)

### And Finally sorting lists

In [ ]:
x

In [ ]:
print (sorted(x)) #Using the keyword sorted

In [ ]:
print (sorted(x,reverse=True)) #reverse = True sorts them in descending order

# Chapter 1, Python Basics - Part 3

### Inbuilt functions

### Assignment 13

#### Convert 3.14 to type int

In [ ]:
a = 3.14

In [ ]:
type(a)

In [ ]:
b = int(a)

In [ ]:
b

In [ ]:
type(b)

In [ ]:
#Let's take an int 8

In [ ]:
a = 8

In [ ]:
type(a)

In [ ]:
b = float(a)

In [ ]:
b

In [ ]:
type(b)

#### These keywords such as sorted(), int(), float(), str() are called functions. In other words they perform a certain task on the variable inside the brackets

You can define your own functions. The variable you put inside the brackets is called the argument.

#### Even print (), len() and type() are functions. These are called inbuilt functions.

In [ ]:
#In case you want to find out what an inbuilt function does just type help(function) or ?function

In [ ]:
help(max)

In [ ]:
?len

### Assignment 14

In [ ]:
List_1 = [10,34,45.7,76]
List_2 = [3,6,98]

Convert both lists into an extended flat list called total and sort them in descending order

### Some more inbuilt functions or methods

Strings have a lot of inbuilt functions or methods. We will explore a few of them here.

In [ ]:
#Converting a string to uppercase.

In [ ]:
string = "Chandigarh"
upper_case = string.upper()
print (upper_case)

In [ ]:
#Converting a string to lowercase.

In [ ]:
lower_case = string.lower()
print (lower_case)

In [ ]:
#Counting the instances of a particular character.

In [ ]:
string = "Cool"
print (string.count("o")) #counts the number of "o"s in the string

In [ ]:
#Also works with other types than strings
List_1 = [1,1,1,3,4,5,6,7,8,9]
List_1.count(1) #counts the number of 1's

In [ ]:
#Finding index of an element in a list or string

In [ ]:
List_1 = ["a","b","c","d"]
List_1.index("c")

In [ ]:
string = "Bangalore"
string.index("l") #6th character of string is "l". Hence index is 5 as counting starts from 0

In [ ]:
#Stripping

In [ ]:
string = "Bangalore"

In [ ]:
string.strip("Ban")

In [ ]:
string.strip("ore")

#### The method strip() returns a copy of the string in which all chars have been stripped from the beginning and the end of the string (default whitespace characters).

In [ ]:
#Splitting based on a symbol

In [ ]:
string = "Bangalore.Karnataka"

In [ ]:
new_string = string.split(".")
new_string

In [ ]:
# Join

In [ ]:
"".join(new_string)

In [ ]:
"@".join(new_string)

In [ ]:
" ".join(new_string)

In [ ]:
# remove(), that removes the first element of a list that matches the input

In [ ]:
List_1 = [1,1,1,2,3,4,5,6,7]

In [ ]:
List_1.remove(1)

In [ ]:
List_1 #The first 1 has been removed

In [ ]:
List_1.remove(7)

In [ ]:
List_1

## Packages are basically a collection of functions which can be imported and then used. For instance the math package has a list of mathematical functions such as sun, cos, pi, etc;

Say you have a circle of radius R = 1.38 cms. To calculate the area of this circle you will have to currently define the value of pi as 3.14. And then A or area is pi*R**2

Or we can import the pi function or value from the math package or module

In [ ]:
from math import pi

In [ ]:
pi

In [ ]:
R = 1.38

In [ ]:
A = pi*R**2

In [ ]:
A

In [ ]:
#To truncate area to 3 decimal points we can use this

In [ ]:
print ("%.3f" % A)

In [ ]:
#If we had to truncate this to 5 decimal points

In [ ]:
print ("%.5f" % A)

In [ ]:
print ("Area of the circle of radius "+str(R)+" is "+str("%.3f" % A))

Now the module or package math has a lot of functions. We just imported the function pi. If you want to import all the functions a package has just import *

In [ ]:
from math import * #imports all possible functions the package math contains

Also importing a particular function from a package can be imported as any name you please

In [ ]:
from math import pi as Bangalore

In [ ]:
Bangalore

In [ ]:
from math import sin

In [ ]:
sin(60)

In [ ]:
from math import pow

In [ ]:
pow(2,4) #2 raised to the power of 4

In [ ]:
pow(3,2)

### Assignment 15

1) Import the radians functions from math

2) Convert a variable called angle which has a value of 12 (degrees) to radians

3) find the cosine of angle

# Chapter 1, Python Basics - Part 4

## Dictionaries

Dictionaries are yet another type of compound variables used to hold data.  Lists are a compund data type. To understand why dictionaries are important, let's take the country_flat list

In [ ]:
print (country_flat)

We know that the population follows the string of the city. However, wouldn't this be a better way to represent this?

In [ ]:
{'Delhi': 1000, 'Mumbai': 2000, 'Bangalore': 2500, 'Kolkata': 3000, 'Pune': 2800, 'Chennai': 1800}

### This above we know for sure that Delhi has a population of 1000 and so on. The above is called a dictionary and is initialized using curly brackets {}

In [ ]:
country = {} #initialize an empty dictionary

In [ ]:
type(country) #of type dict or dictionary

To add elements, we have to add elements in pairs, one before the colon, called the key, and one after the colon called the value

In [ ]:
country = {"India":"New Delhi"}

In [ ]:
country

### To add additional key value pairs, we can do the below

In [ ]:
country = {"India":"New Delhi", "Spain":"Madrid", "Afghanistan":"Kabul"}

In [ ]:
country

### However to do this we have to redefine the dictionary country again and again. we can't just add element like in list using append or extend. If we try that here...

In [ ]:
country = {"Norway":"Oslo"}

In [ ]:
country

### The earlier countries have been removed, which means the country dict was reinitialized using the curly brackets. To add elements, the below way is the method...

In [ ]:
country["India"] = "New Delhi"

In [ ]:
country

In [ ]:
country["Spain"] = "Madrid"
country["Afghanistan"] = "Kabul"
country["Hungary"] = "Budapest"

In [ ]:
country

### dictionary[key] = value is the correct method to add elements to your dictionary

Say you have 2 lists. Indian states and one more list of their capitals.

In [ ]:
states = ["Karnataka", "Tamil Nadu","Kerala","Maharashtra","Tripura","Telangana", "Bihar","West Bengal", "Manipur"]

In [ ]:
capitals = ["Bangalore", "Chennai", "Thiruvananthapuram","Mumbai","Agartala","Amravati", "Patna","Kolkata","Imphal" ]

In [ ]:
len(states)

In [ ]:
len(capitals)

Can we use the index of Telangana in the list states and use that to print out the capital of Telangana from capitals?

In [ ]:
telangana_index = states.index("Telangana")
telangana_capital = capitals[telangana_index]
print (telangana_capital)

Convert the 2 lists to a dictionary with the keys being the states and the values being the capitals...

india={}

india["Karntaka"] = "Bangalore"

india["Tamil Nadu"] = "Chennai" and so on....

### The Zip function

Or we can use a zip function. A zip function is multifunctional and can be used for a variety of purposes. In this case if we have 2 lists of equal lengths and we want to convert them to a dict with keys from a list and corresponding values from the other list we can use this below...

In [ ]:
india = dict(zip(states,capitals))

In [ ]:
print (india)

### Dictionary operations (Selecting elements and keys)

If we wanted to print only the keys from the dict India, we can just hit dict.keys()

In [ ]:
print (india.keys())

In [ ]:
print (india.values())

Print the value of the key Bihar from dict india

In [ ]:
print (india["Bihar"])

### Dictionary operations (Adding elements and replacing elements)

To add a new key-value pair called ["Jammu and Kashmir", "Gulmarg"] to the dict india we just do dict[key] = value

In [ ]:
new_list = ["Jammu and Kashmir", "Gulmarg"]

In [ ]:
india

In [ ]:
india[new_list[0]] = new_list[1]

In [ ]:
india

However we know that the capital of Jammu and kashmir is Srinagar. replacing value in a dictionary is very similar to replacing elements ina list 

dict[key] = new_value

In [ ]:
india["Jammu and Kashmir"] = "Srinagar"

In [ ]:
india

### Assignment 17

Can you delete the key-value pair "Bihar:Patna" from the dict india?

### Dictionary operations (Dictionaries of lists and dictionaries of dicts)

We have states and capital. What if we have a third list called pops which lists out the populations in each of these states and we wanted to create a dict which has all this information in the form

{state:{capital:state_capital, population:state_population}}

This essentially is a dictionary inside another dictionary. 
The inside dictionary {capital:state_capital, population:state_population} is basically the value element of the outer main dictionary of the key state.

For instance this new dict of dicts's first element would look like this.

#### {"Tripura":{capital:"Agartala",population:100000}}

Let's create the population list first

In [ ]:
pops = [2500,1000,3450,6498,3560,7000,2000,8970,2678]

In [ ]:
len(pops)

In [ ]:
print (states)

In [ ]:
print (capitals)

In [ ]:
print (pops)

Creating the inner dicts first.

In [ ]:
inner_dict_1 = {}
inner_dict_1["capital"] = capitals[0]
inner_dict_1["population"] = pops[0]

In [ ]:
inner_dict_1

In [ ]:
#Repeating the same for all the elements

In [ ]:
inner_dict_2 = {}
inner_dict_2["capital"] = capitals[1]
inner_dict_2["population"] = pops[1]
inner_dict_3 = {}
inner_dict_3["capital"] = capitals[2]
inner_dict_3["population"] = pops[2]
inner_dict_4 = {}
inner_dict_4["capital"] = capitals[3]
inner_dict_4["population"] = pops[3]
inner_dict_5 = {}
inner_dict_5["capital"] = capitals[4]
inner_dict_5["population"] = pops[4]
inner_dict_6 = {}
inner_dict_6["capital"] = capitals[5]
inner_dict_6["population"] = pops[5]
inner_dict_7 = {}
inner_dict_7["capital"] = capitals[6]
inner_dict_7["population"] = pops[6]
inner_dict_8 = {}
inner_dict_8["capital"] = capitals[7]
inner_dict_8["population"] = pops[7]
inner_dict_9 = {}
inner_dict_9["capital"] = capitals[8]
inner_dict_9["population"] = pops[8]

In [ ]:
inner_dict_9

Now we create the outer dict

In [ ]:
outer = {}
outer[states[0]] = inner_dict_1
outer[states[1]] = inner_dict_2
outer[states[2]] = inner_dict_3
outer[states[3]] = inner_dict_4
outer[states[4]] = inner_dict_5
outer[states[5]] = inner_dict_6
outer[states[6]] = inner_dict_7
outer[states[7]] = inner_dict_8
outer[states[8]] = inner_dict_9

In [ ]:
outer

### That is what we wanted to acheive.However we can see that the work is very repititive and if there were 100 key value pairs, it would be near impossible to do this a 100 times and create inner_dicts a 100 times. We usually use loops or lambda functions to get over these repetitive taskS. We will cover loops in the next tutorial. For now, our dict outer is ready!

Accessing elements inside a dict of dicts.

Print out population of Manipur from outer

In [ ]:
print (outer["Manipur"]["population"])

### Assignment 18

Add populations of Tripura and Bihar and print the sum. Access them only from the dict outer

### We will see you in the next tutorial....